
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.material-icons{
	vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

input[type="file"].upl_hidden{
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	border: 0;
	padding: 0;
}

.table{
	thead{
		font-size: 14px;
	}

	tbody{
		tr{
			td{
				font-size: 14px;
				vertical-align: middle;
			}
		}
	}
}
.status-fm{
	display: inline-block;
	margin-bottom: 0;
}

.panel-default > .panel-heading {
	.badge.red{background: $brand-danger;}
	.badge.green{background: $brand-success;}
	.badge.yellow{background: $brand-warning;}
	.badge.blue{background: $brand-info;}
}

.badge.red{background: $brand-danger;}
.badge.green{background: $brand-success;}
.badge.yellow{background: $brand-warning;}
.badge.blue{background: $brand-info;}


.form-group.required .control-label:after { 
	content:"*";
	color:red;
	font-size: 24px;
	margin-left: 5px;
	line-height: 0;
}

@media (min-width: 992px) {
	.container{
		width: 95%;
	}
}